:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --white-color: #ffffff;
  --modal-bg-color: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
}

h2,
h3 {
  color: var(--dark-color);
}

img {
  display: block;
}

ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
address {
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--accent-color);
}
.logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.17;
  span {
    color: var(--dark-color);
  }
}
.header-nav-link {
  position: relative;
  padding: 24px 0;
  color: var(--dark-color);
  font-weight: 500;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--pressed-color);
  }
}
.header-address-link {
  transition: color var(--transition);
  padding: 24px 0;
  &:hover,
  &:focus {
    color: var(--pressed-color);
  }
}

.hero {
  background-color: var(--hero-bg-color);
  padding: 188px 0;
}
.hero-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  font-weight: 700;
  max-width: 500px;
}
.hero-cta {
  border-radius: 4px;
  padding: 16px 32px;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-weight: 500;
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--pressed-color);
  }
}
.advantages {
  padding: 120px 0 60px;
}
.services {
  padding: 60px 0 120px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
}
.team {
  padding: 120px 0;
  background-color: var(--light-color);
  .card {
    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.card-description {
  padding: 32px 16px;
}
.footer {
  padding: 100px 0;
  background-color: var(--hero-bg-color);
  .logo {
    margin-bottom: 16px;
    span {
      color: var(--white-color);
    }
  }
}
.footer-text {
  color: var(--white-color);
}
.footer-description {
  max-width: 264px;
}
.portfolio {
  padding: 96px 0 120px;
  .card-description {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }
}

.filter {
  margin-bottom: 72px;
}
.filter-button {
  background-color: var(--light-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 12px 24px;
  font-weight: 500;
  color: var(--primary-color);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--pressed-color);
    color: var(--white-color);
    border-color: var(--pressed-color);
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 156px;
}
